<a href="https://colab.research.google.com/github/aksamps/lp4ml/blob/main/lp4colab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuple ->
1. immutable,
2. can contain diff data type,
3. created using paranthesis
4. used when the data should not be altered
5. can have duplicates

In [10]:

t=([1,2],"def")
t[0][1]='x'   #elements inside the tuple can be modified, but tuple itself cant be modified
print(t)

t[0]=5

([1, 'x'], 'def')

TypeError: 'tuple' object does not support item assignment

In [4]:
a=[[1,2],"def"]
a[0][1]='x'    #demostrates list is mutable
print(a)


l=["abc","def"]
l[0][1]='x'     #list is mutable by because string is immutable fails
print(l)

[[1, 'x'], 'def']

TypeError: 'str' object does not support item assignment

In [25]:
t=(1,2,3)
print(id(t))
l=list(t)
r=tuple(l)
print(t,l,r)

t=t+r
print(t)
print(id(t))

t+=r
print(t)
print(id(t))
'''
only assignment operator in tuple is not allowed, other like concatenate works
new tuple is created(in the backend)
only count and index methods are avaliable for tuple
'''
print(t.index(2))
print(t.count(2))

tuple(1) #if only one item comma is required as it expects an iterable to create a tuple example: tuple(1,)

138412300098752
(1, 2, 3) [1, 2, 3] (1, 2, 3)
(1, 2, 3, 1, 2, 3)
138411352905984
(1, 2, 3, 1, 2, 3, 1, 2, 3)
138411373987648
1
3

TypeError: 'int' object is not iterable